@import 'variables';
@import 'mixins';
@import 'media';
@import 'reset';

body {
  font-size: 62.5%;
  font-family: 'Lato', Arial, sans-serif;
  background: #233142;
}

.wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: #fff;
  font-size: 1.8rem;
}

.canvas {
  margin: 40px 0;
  width: 800px;
  height: 300px;
  background: #f4f4f4;
  box-shadow: 0px 0px 23px 1px rgba(0, 0, 0, 0.6);
}

.buttons-container {
  display: flex;
  flex-direction: row;
}

.button {
  margin: 5px;
  width: 100px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 4px;

  &__clear {
    background: #d35a5a;
  }

  &__save {
    background: #235188;
  }

  &:hover {
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 800px) {
  .canvas {
    margin: 10px;
    width: 90%;
    height: 400px;
  }
}
